{%  load static %}


<section class="features12 cid-rNr7QuvYEm" id="features12-t">

    <div class="container">

    <div class="media-container-row pt-5">
            <div class="block-content align-right">
                <div class="card pl-3 pr-3 pb-5">
                    <div class="mbr-card-img-title">

                        <div class="mbr-crt-title">

                        </div>
                    </div>

                    <div class="card-box">

                    </div>
                </div>

                <div class="card pl-3 pr-3">
                    <div class="mbr-card-img-title">

                        <div class="mbr-crt-title">

                        </div>
                    </div>
                    <div class="card-box">

                    </div>
                </div>
            </div>

            <div class="mbr-figure m-auto" style="width: 36%;border-radius:50%">
                <img class="pf-picture" style="border-radius: 50%" src="{% static 'assets/images/sanket-sahu-958x960.jpg' %}" alt="Sanket Sahu" title="">
            </div>

            <div class="block-content align-left">
                <div class="card pl-3 pr-3 pb-5">
                    <div class="mbr-card-img-title">

                        <div class="mbr-crt-title">

                        </div>
                    </div>

                    <div class="card-box">

                    </div>
                </div>

                <div class="card pl-3 pr-3">
                    <div class="mbr-card-img-title">

                        <div class="mbr-crt-title">

                        </div>
                    </div>
                    <div class="card-box">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{%  for persondata in person_data %}
    {% if  persondata.id == 1 %}

<section class="mbr-section content4 cid-rNriqx22Gn" id="content4-11">

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">I am
                 <span style="text-transform: uppercase">{{ persondata.firstname }} {{ persondata.lastname }}</span>
                </h2>

                    <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">{{ details_singledata.profile_title }}</h3>
            </div>
        </div>
    </div>

</section>



<section class="mbr-section content8 cid-rNr8VfNZTj" id="content8-y">



    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="">Hire Me</a>
                    <a class="btn btn-primary display-4" href="{% static 'assets/resume/resume_sahu_developer.pdf' %}">Download CV</a>

                </div>
            </div>
        </div>
    </div>
</section>

<section once="footers" class="cid-rNrgVspvve" id="footer7-10">





    <div class="container">
        <div class="media-container-row align-center mbr-white">

            <div class="row social-row">
                <div class="social-list align-right pb-2">

<!--
                <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                        </a>
                    </div>
!-->
                    <div class="soc-item">
                        <a href="{{ details_singledata.linkedin_link }}" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-linkedin socicon"></span>
                        </a>
                    </div>
                    <!--
                    <div class="soc-item">
                        <a href="https://www.youtube.com/c/mobirise" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                        </a>
                    </div>
                    !-->
                    <div class="soc-item">
                        <a href="mailto:{{ details_singledata.email_data }}">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-mail socicon"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="tel:{{ details_singledata.phoneno_data }}">
                            <span class="mbr-iconfont mbr-iconfont-social mbrib-contact-form"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="index.html#form4-9" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social mobi-mbri-map-pin mobi-mbri"></span>
                        </a>
                    </div></div>
            </div>
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7"></p>
            </div>
        </div>
    </div>
</section>

{% endif %}
{% endfor %}

