<section class="mbr-section article content10 cid-rNlTRGBIkj" id="content10-6">



    <div class="container">
        <div class="inner-container" style="width: 66%;">
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-white mbr-fonts-style display-5">"Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time." —Thomas A. Edison</div>
            <hr class="line" style="width: 25%;">
        </div>
    </div>
</section>