{% load static %}

<section class="mbr-section content8 cid-rNo8dmVm0s" id="content8-r">



    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="{% static 'assets/resume/resume_sahu_developer.pdf' %}">DOWNLOAD FULL CV AS .PDF</a>
                    <a class="btn btn-black-outline display-4" href="https://mobirise.co">HIRE ME</a></div>
            </div>
        </div>
    </div>
</section>