<section class="mbr-section content4 cid-rNrq3zPvkX" id="content4-19">



    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">General Skills</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">Following are the Highlights of my skills that I will bring along with me which is not limited and ready to learn new skills</h3>

            </div>
        </div>
    </div>
</section>

<section class="features10 cid-rNrpRsqgWF" id="features10-18">




    <div class="container">
        <div class="row justify-content-center">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="media mb-3">
                    <div class="card-img align-self-center">
                        <span class="mbr-iconfont mbri-android"></span>
                    </div>
                    <h4 class="card-title media-body py-3 mbr-fonts-style display-7">Communication Skills</h4>
                </div>
                <div class="card-box">
                    <p class="mbr-text mbr-fonts-style display-7">During all my studies and work I have learned good communication skills as communication is most important aspect in any business. Without proper communication its impossible for anyone to survive. It is known that communication is not just about words its more about the ways to express.</p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="media mb-3">
                    <div class="card-img align-self-center">
                        <span class="mbr-iconfont mbri-question"></span>
                    </div>
                    <h4 class="card-title media-body py-3 mbr-fonts-style display-7">Problem Solving</h4>
                </div>
                <div class="card-box">
                    <p class="mbr-text mbr-fonts-style display-7">It is one of the most important skills required in business analysis as we all face problem, but we need techniques to solve it and find a solution. I have learned all this problem solving technique during my studies as finding a solution requires mental and creative research along with deep thinking.</p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="media mb-3">
                    <div class="card-img align-self-center">
                        <span class="mbr-iconfont mbri-info"></span>
                    </div>
                    <h4 class="card-title media-body py-3 mbr-fonts-style display-7">Critical Thinking</h4>
                </div>
                <div class="card-box">
                    <p class="mbr-text mbr-fonts-style display-7">I am good at critical thinking as I believe that only finding solution is not important, finding an alternative solution is also equally important which can help us to get out of problem if our first solution fails. With my courses and work experience I have learned various ways to analyse and understand business requirements which is required from the viewpoint of any kind of business and developer.</p>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="progress-bars2 cid-rNrqEOHAIM" id="progress-bars2-1a">





    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">Technical Skills</h2>

        <h3 class="mbr-section-subtitle mbr-fonts-style display-5">Following are the Highlights of my skills that I will bring along with me which is not limited and ready to learn new skills</h3>

        <div class="row pt-5 mt-5">
            {% for skillsdata in skills_data %}

            <div class="progress_elements col-md-4">

                <div class="progress1 pb-5">
                    <div class="title-wrap">
                        <div class="progressbar-title mbr-fonts-style display-7">
                            <p>{{ skillsdata.skill_name }}</p>
                        </div>
                        <div class="progress_value mbr-fonts-style display-7">
                            <!--<div class="progressbar-number">
                            </div>-->
                            <span>{{ skillsdata.skill_per_level }} %</span>
                        </div>
                    </div>
                    <progress class="progress progress-primary " max="100" value="{{ skillsdata.skill_per_level }}">
                    </progress>
                </div>

            </div>
            {% endfor %}

        </div>

    </div>
</section>