<section class="timeline2 cid-rNlTCqKmFs" id="timeline2-4">





    <div class="container align-center">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">Educational and Work Timeline
        </h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style display-5">Total work experience: 4 years</h3>

        <div class="container timelines-container" mbri-timelines="">
            <!--showing left-->
            {% for timelineedudata in timeline_edu_data %}
            {% if  timelineedudata.completion_yr == '2020' %}
            <div class="row timeline-element  separline">
                <span class="iconsBackground">
                    <span class="mbr-iconfont mbri-bookmark"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">{{ timelineedudata.course_name }}</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7"><strong>{{ timelineedudata.completion_yr }}&nbsp;<br>{{ timelineedudata.job_type }}</strong><br><br>{{ timelineedudata.description }}
                        </p>
                    </div>
                </div>
            </div>

            {% endif %}
            {% endfor %}

            <!--Showing right-->
            {% for timelineworkdata in timeline_work_data %}
            <div class="row timeline-element reverse separline">
                <span class="iconsBackground">
                    <span class="mbr-iconfont mbri-bookmark"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">{{ timelineworkdata.designation }} @ {{ timelineworkdata.company_name }}</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            <strong>{% if timelineworkdata.start_date == timelineworkdata.end_date %}
                            {{ timelineworkdata.end_date }}
                                {% else %}
                            {{ timelineworkdata.start_date }} - {{ timelineworkdata.end_date }}
                                {% endif %}<br>{{ timelineworkdata.job_type }}
                            </strong><br><br>
                            {{ timelineworkdata.Description }}
                        </p>
                     </div>
                </div>
            </div>
            {% endfor %}

            <!--showing left-->
            {% for timelineedudata in timeline_edu_data %}
            {% if  timelineedudata.completion_yr < '2015' %}
            <div class="row timeline-element  separline">
                <span class="iconsBackground">
                    <span class="mbr-iconfont mbri-bookmark"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">{{ timelineedudata.course_name }}</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7"><strong>{{ timelineedudata.completion_yr }}&nbsp;<br>{{ timelineedudata.job_type }}</strong><br><br>{{ timelineedudata.description }}
                        </p>
                    </div>
                </div>
            </div>

            {% endif %}
            {% endfor %}


        </div>
    </div>
</section>