<section class="counters6 counters cid-rNo7FF9lJB" id="counters6-q">


    <div class="container pt-4 mt-2">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">Why Hire Me?</h2>
        <h3 class="mbr-section-subtitle pb-5 align-center mbr-fonts-style display-5">A Business Analyst, Web Developer and Designer</h3>
        <div>
                <div class="cards-container">
                    <div class="card col-12 col-md-6 col-lg-4 pb-md-4">
                        <div class="panel-item align-center">
                            <div class="card-img pb-3">
                                <h3 class="img-text mbr-fonts-style display-1">01.</h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Skillset in Development and Business analysis</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">Worked as Web Developer and solved various case studies implementing Business Analysis strategies</p>
                            </div>
                        </div>
                    </div>
                    <div class="card col-12 col-md-6 col-lg-4 pb-md-4">
                        <div class="panel-item align-center">
                            <div class="card-img pb-3">
                                <h3 class="img-text mbr-fonts-style display-1">02.</h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">&nbsp;Integrity, Commitment, Optimistic</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                    Important quality for any person working in workplace</p>
                            </div>
                        </div>
                    </div>
                    <div class="card col-12 col-md-6 col-lg-4 last-child">
                        <div class="panel-item align-center">
                            <div class="card-img pb-3">
                                <h3 class="img-text mbr-fonts-style display-1">03.</h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Can Implement high quality, scalable and cost-effective business systems</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                        Skillset learned at time of studies and workplace</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </div>
</section>
