{% load static %}


<section class="features15 cid-rNrliXrueU" id="features15-12">




    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">My Work</h2>
        <h3 class="mbr-section-subtitle display-5 align-center mbr-fonts-style">
            Click on the bottom left corner of the card to change the front image. In browser this corner will not be shown.
        </h3>

        <div class="media-container-row container pt-5 mt-2">

            <div class="col-12 col-md-6 mb-4 col-lg-4">
                <div class="card flip-card p-5 align-center">
                    <div class="card-front card_cont">
                        <img src="{% static 'assets/images/background1.jpg' %}" alt="11SQFT.com">
                    </div>
                    <div class="card_back card_cont">
                        <h4 class="card-title display-5 py-2 mbr-fonts-style">11SQFT.info</h4>
                        <p class="mbr-text mbr-fonts-style display-7">This Web Application is for a property broker who wants to create an online platform for its customers who can search and list property. ALso and admin panel for broker for managing its website.&nbsp;</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-4 col-lg-4">

                <div class="card flip-card p-5 align-center">
                    <div class="card-front card_cont">
                        <img src="{% static 'assets/images/kpwoods.png' %}" alt="KPWoods.com">
                    </div>
                    <div class="card_back card_cont">
                        <h4 class="card-title py-2 mbr-fonts-style display-5">KPWoods.com</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Drop the blocks into the page, edit content inline and publish - no technical skills required.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-4 col-lg-4">
                <div class="card flip-card p-5 align-center">
                    <div class="card-front card_cont">
                        <img src="{% static 'assets/images/background3.jpg' %}" alt="Sanket Sahu">
                    </div>
                    <div class="card_back card_cont">
                        <h4 class="card-title py-2 mbr-fonts-style display-5">Iuristechs.com</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            sanket sahu gives you the freedom to develop as many websites as you like given the fact that it is a desktop app.
                        </p>
                    </div>
                </div>
            </div>


        </div>
</div></section>