{% load static %}

<section class="features15 cid-rNrliXrueU" id="features15-12">




    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">My Work</h2>
        <h3 class="mbr-section-subtitle display-5 align-center mbr-fonts-style">
            Below are some of my projects I have worked on which will guide you through my skills and knowledge
        </h3>

        <div class="media-container-row container pt-5 mt-2">

            {% for projectdata in projects_data %}
            <div class="col-12 col-md-6 mb-4 col-lg-4">
                <div class="card flip-card p-5 align-center">
                    <div class="card-front card_cont">
                        <img src="{{ projectdata.project_image.url }}" alt="Sanket Sahu">
                    </div>
                    <div class="card_back card_cont">
                        <h4 class="card-title display-5 py-2 mbr-fonts-style">{{ projectdata.project_name}}</h4>
                        <p class="mbr-text mbr-fonts-style display-7">{{ projectdata.proj_details }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}



        </div>
</div></section>